body{background-color: lightgreen;
color:red;
text-align: center;}
button{background-color: blue;
color: yellow;}
@keyframe bounce{0%,100%{transform: tranlate(0,0);}
50%{transform: translateY(-50px);}
100%{transform: translateY(-50px);}}
